.seperator{
  width: 100%;
  margin: 1rem 0;
  border: solid 1px;
  color:  #fae105;
}


  @media(max-width:760px){
    .bioContainer{
      margin-top:50px;
    }
  }
  @media(min-width:760px){
  .bioContainer{
    margin-top:30px;
  }
}