
// For smaller displays
@media(max-width:760px){
  .logo{
    text-align: center;
     margin-top:60px;
    }
}
// For larger displays
@media(min-width:760px){
.logo{
text-align: center;
 margin-top:20px;
}
}

.questions{
  //background-color: #99ffff;
  padding:20px;
  //border: 2px solid #03A9F4;
}

.title{
  text-align: center;
  font-weight: bold;
  font-style: italic;
  color: green;
}